@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
    url('/assets/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/assets/fonts/HelveticaNeueCyr-Italic.eot');
    src: local('HelveticaNeueCyr-Italic'),
    url('/assets/fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
    url('/assets/fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}